@use "../themes/defualtThemes" as *;
@use "../util/variables" as *;
@use "../util/mixins" as *;

//Make responsive design by changing
//layout from 4 col to 3 then 2 then 1 using the @include

.pokemon-dex {
  // @include flex-center-column;
  // @include center-auto;
  border: solid $black 2px;
  border-radius: $radius;
  background: $red-dark;
  width: 700px;
  text-align: center;

  .dex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-around;
    align-content: center;
    .dex-left {
      .name {
        font-size: 1.5rem;
        color: $black;
        background: $white;
        border: 1px solid $black;
        border-radius: $radius;
        text-align: center;
      }
      .poke-img {
        width: 200px;
        height: 200px;
        border: 1px solid $black;
        border-radius: $radius;
      }
      .discription {
        font-size: 1.5rem;
        color: $black;
        background: $white;
        border: 1px solid $black;
        border-radius: $radius;
        text-align: center;
      }
      .discriptionPlus {
        font-size: 1.5rem;
        color: $black;
        background: $white;
        border: 1px solid $black;
        border-radius: $radius;
        text-align: center;
      }
      .btn-move {
        .prev {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;

          border-right: 20px solid $black;
          margin: 30px;
        }
        .next {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid $black;
        }
      }
    }
    .dex-right {
      .title {
        font-size: 1.5rem;
        color: $black;
        background: $white;
        border: 1px solid $black;
        border-radius: $radius;
        text-align: center;
      }
    }
  }
}

//Tablet

// @include tablet {
//     .poke-base{
//         display: grid;
//         grid-template-columns: repeat(2, 2fr);
//         gap: 0.5rem;
//         justify-items: center;
//         align-content: center;

//         .pokemons{
//             display: block;
//             box-shadow: $dark-shadow;
//             text-align: center;
//             border: solid 2px black;
//             width: 350px;
//             color: $secondary-3;
//             img{
//                 height: 150px;
//                 width: 100%;

//             }
//         }
//     }
// }

// //Large

// @include large {
//     .poke-base{
//         display: grid;
//         grid-template-columns: repeat(3, 2fr);
//         gap: 0.5rem;
//         justify-items: center;
//         align-content: center;

//         .pokemons{
//             display: block;
//             box-shadow: $dark-shadow;
//             text-align: center;
//             border: solid 2px black;
//             width: 350px;
//             color: $secondary-3;
//             img{
//                 height: 150px;
//                 width: 100%;

//             }
//         }
//     }
// }

// //Desktop

// @include desktop {
//     .poke-base{
//         display: grid;
//         grid-template-columns: repeat(4, 2fr);
//         gap: 0.5rem;
//         justify-items: center;
//         align-content: center;

//         .pokemons{
//             display: block;
//             box-shadow: $dark-shadow;
//             text-align: center;
//             border: solid 2px black;
//             width: 350px;
//             color: $secondary-3;
//             img{
//                 height: 150px;
//                 width: 100%;

//             }
//         }
//     }
// }
