@use "../themes/defualtThemes" as *;
@use "../util/variables" as *;
@use "../util/mixins" as *;

//Make responsive design by changing
//layout from 4 col to 3 then 2 then 1 using the @include

.pokemon-dex {
  // @include flex-center-column;
  // @include center-auto;
  border: solid $black 2px;
  border-radius: $radius;
  background: $red-dark;
  width: 700px;
  text-align: center;
  margin: 25px;
  padding: 15px 0;

  .dex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-around;
    align-content: center;
    .dex-left {
      .name {
        font-size: 1.5rem;
        color: $black;
        background: $white;
        border: 1px solid $black;
        border-radius: $radius;
        text-align: center;
      }
      .poke-img {
        width: 200px;
        height: 200px;
        border: 1px solid $black;
        border-radius: $radius;
      }
      .discription {
        font-size: 1.5rem;
        color: $black;
        background: $white;
        border: 1px solid $black;
        border-radius: $radius;
        text-align: center;
      }
      .discriptionPlus {
        font-size: 1.5rem;
        color: $black;
        background: $white;
        border: 1px solid $black;
        border-radius: $radius;
        text-align: center;
      }
      .btn-move {
        margin-top: 20px;
        .prev {
          
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-right: 20px solid $black;
          margin-right: 30px;
        }
        .next {
          width: 0;
          height: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid $black;
        }
      }
    }
    .dex-right {
      .title {
        font-size: 1.5rem;
        color: $black;
        background: $white;
        border: 1px solid $black;
        border-radius: $radius;
        text-align: center;
        width: 100%;
      }
      .types{
        display: flex;
        gap: .5rem;
        width: 100%;
        margin-bottom: 15px;
        
        .grass{
          color: $white;
          font-size: 1.5rem;
          background: $grass;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .fire{
          color: $white;
          font-size: 1.5rem;
          background: $fire;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .water{
          color: $white;
          font-size: 1.5rem;
          background: $water;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .electric{
          color: $white;
          font-size: 1.5rem;
          background: $electric;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .psychic{
          color: $white;
          font-size: 1.5rem;
          background: $psychic;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .ice{
          color: $white;
          font-size: 1.5rem;
          background: $ice;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .dragon{
          color: $white;
          font-size: 1.5rem;
          background: $dragon;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .dark{
          color: $white;
          font-size: 1.5rem;
          background: $dark;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .fairy{
          color: $white;
          font-size: 1.5rem;
          background: $fairy;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .normal{
          color: $white;
          font-size: 1.5rem;
          background: $normal;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .fighting{
          color: $white;
          font-size: 1.5rem;
          background: $fighting;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .flying{
          color: $white;
          font-size: 1.5rem;
          background: $flying;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .poison{
          color: $white;
          font-size: 1.5rem;
          background: $poison;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .ground{
          color: $white;
          font-size: 1.5rem;
          background: $ground;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .rock{
          color: $white;
          font-size: 1.5rem;
          background: $rock;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .bug{
          color: $white;
          font-size: 1.5rem;
          background: $bug;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .ghost{
          color: $white;
          font-size: 1.5rem;
          background: $ghost;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }
        .steel{
          color: $white;
          font-size: 1.5rem;
          background: $steel;
          border: 1px solid $black;
          border-radius: $radius;
          padding-left: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
          width: 100%;
        }


      }
      .stat-container{
        width: 100%;
        .stats{
            height: 50px;
            display: block;
            background: none;
            border-radius: 0;
            .stat-name{
              padding: 0;
              margin: 0;
              text-transform: uppercase;
              display: inline-block;
              font-weight: 500;
              font-size: 1.2rem;
              color: $white;
          }
        }
        .stat-wrap{
            background: #fff;
            
        }
        .stat-bar{
            height: 10px;
            background: linear-gradient(to right, $primary-1, $secondary-1);
        }
    }
    }
  }
}

//Tablet

// @include tablet {
//     .poke-base{
//         display: grid;
//         grid-template-columns: repeat(2, 2fr);
//         gap: 0.5rem;
//         justify-items: center;
//         align-content: center;

//         .pokemons{
//             display: block;
//             box-shadow: $dark-shadow;
//             text-align: center;
//             border: solid 2px black;
//             width: 350px;
//             color: $secondary-3;
//             img{
//                 height: 150px;
//                 width: 100%;

//             }
//         }
//     }
// }

// //Large

// @include large {
//     .poke-base{
//         display: grid;
//         grid-template-columns: repeat(3, 2fr);
//         gap: 0.5rem;
//         justify-items: center;
//         align-content: center;

//         .pokemons{
//             display: block;
//             box-shadow: $dark-shadow;
//             text-align: center;
//             border: solid 2px black;
//             width: 350px;
//             color: $secondary-3;
//             img{
//                 height: 150px;
//                 width: 100%;

//             }
//         }
//     }
// }

// //Desktop

// @include desktop {
//     .poke-base{
//         display: grid;
//         grid-template-columns: repeat(4, 2fr);
//         gap: 0.5rem;
//         justify-items: center;
//         align-content: center;

//         .pokemons{
//             display: block;
//             box-shadow: $dark-shadow;
//             text-align: center;
//             border: solid 2px black;
//             width: 350px;
//             color: $secondary-3;
//             img{
//                 height: 150px;
//                 width: 100%;

//             }
//         }
//     }
// }
