*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

main, article, aside, figure, footer, nav, section, details, summary {
  display: block;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #222;
  cursor: help;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font-size: 99%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.clickable, label, input[type=button], input[type=submit], input[type=file], button {
  cursor: pointer;
}

button, input[type=button] {
  width: auto;
  overflow: hidden;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #ddd;
  color: #4799eb;
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1, h2, h3, h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: #6085a9;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1, h2, h3, h4 {
    line-height: 1;
  }
}
.search-container {
  align-items: center;
  justify-content: center;
}
.search-container .search-form {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container .search-form h2 {
  color: #cf1717;
  font-weight: 600;
}
.search-container .search-form .content-form {
  display: inline-block;
}
.search-container .search-form .content-form .form-input {
  width: 100%;
  border: transparent;
  max-width: 620px;
  background: #cf1717;
  padding: 1rem;
  color: #ddd;
  font-size: 1rem;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  font-weight: 600;
}
.search-container .search-form .content-form .error {
  color: #cf1717;
  text-transform: capitalize;
  padding-top: 0.3rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.25rem;
}
.search-container .page-move {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.search-container .page-move h3 {
  font-weight: 600;
}
.search-container .page-move button {
  width: 120px;
  height: 50px;
  font-size: 1.55rem;
  border-radius: 0.25rem;
  background: #ddd;
  color: #4799eb;
  font-weight: 700;
}

.pokemon-dex {
  border: solid #222 2px;
  border-radius: 0.25rem;
  background: #cf1717;
  width: 700px;
  text-align: center;
  margin: 25px;
  padding: 15px 0;
}
.pokemon-dex .dex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-around;
  align-content: center;
}
.pokemon-dex .dex .dex-left .name {
  font-size: 1.5rem;
  color: #222;
  background: #ddd;
  border: 1px solid #222;
  border-radius: 0.25rem;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.pokemon-dex .dex .dex-left .poke-img {
  width: 200px;
  height: 200px;
  border: 1px solid #222;
  border-radius: 0.25rem;
}
.pokemon-dex .dex .dex-left .discription {
  font-size: 1.5rem;
  color: #222;
  background: #ddd;
  border: 1px solid #222;
  border-radius: 0.25rem;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.pokemon-dex .dex .dex-left .discriptionPlus {
  font-size: 1.5rem;
  color: #222;
  background: #ddd;
  border: 1px solid #222;
  border-radius: 0.25rem;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.pokemon-dex .dex .dex-left .btn-move {
  margin-top: 20px;
}
.pokemon-dex .dex .dex-left .btn-move .prev {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #222;
  margin-right: 30px;
}
.pokemon-dex .dex .dex-left .btn-move .next {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #222;
}
.pokemon-dex .dex .dex-right .title {
  font-size: 1.5rem;
  color: #222;
  background: #ddd;
  border: 1px solid #222;
  border-radius: 0.25rem;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.pokemon-dex .dex .dex-right .types {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 15px;
}
.pokemon-dex .dex .dex-right .types .grass {
  color: #ddd;
  font-size: 1.5rem;
  background: #78c851;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .fire {
  color: #ddd;
  font-size: 1.5rem;
  background: #ef7f2e;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .water {
  color: #ddd;
  font-size: 1.5rem;
  background: #668ff0;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .electric {
  color: #ddd;
  font-size: 1.5rem;
  background: #f8d030;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .psychic {
  color: #ddd;
  font-size: 1.5rem;
  background: #f85988;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .ice {
  color: #ddd;
  font-size: 1.5rem;
  background: #97d8d8;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .dragon {
  color: #ddd;
  font-size: 1.5rem;
  background: #733af8;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .dark {
  color: #ddd;
  font-size: 1.5rem;
  background: #705848;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .fairy {
  color: #ddd;
  font-size: 1.5rem;
  background: #ee9bad;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .normal {
  color: #ddd;
  font-size: 1.5rem;
  background: #a7a776;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .fighting {
  color: #ddd;
  font-size: 1.5rem;
  background: #be2f27;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .flying {
  color: #ddd;
  font-size: 1.5rem;
  background: #a78ff0;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .poison {
  color: #ddd;
  font-size: 1.5rem;
  background: #a040a0;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .ground {
  color: #ddd;
  font-size: 1.5rem;
  background: #e0bf67;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .rock {
  color: #ddd;
  font-size: 1.5rem;
  background: #b7a038;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .bug {
  color: #ddd;
  font-size: 1.5rem;
  background: #a7b620;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .ghost {
  color: #ddd;
  font-size: 1.5rem;
  background: #705798;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .types .steel {
  color: #ddd;
  font-size: 1.5rem;
  background: #b9b9d0;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.pokemon-dex .dex .dex-right .stat-container {
  width: 100%;
}
.pokemon-dex .dex .dex-right .stat-container .stats {
  height: 50px;
  display: block;
  background: none;
  border-radius: 0;
}
.pokemon-dex .dex .dex-right .stat-container .stats .stat-name {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  font-size: 1.2rem;
  color: #ddd;
}
.pokemon-dex .dex .dex-right .stat-container .stat-wrap {
  background: #fff;
}
.pokemon-dex .dex .dex-right .stat-container .stat-bar {
  height: 10px;
  background: linear-gradient(to right, #344a60, #0f4a85);
}
.pokemon-dex .back {
  color: #222;
  background: #ddd;
  border: 1px solid #222;
  border-radius: 0.25rem;
  width: 200px;
  padding: 5px 10px;
  font-weight: 600;
}

.top {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #cf1717;
  border-radius: 0.25rem;
  background: #cf1717;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  border: solid 2px #222;
  border-radius: 0.25rem;
  margin: 10px;
  background: transparent;
  height: 500px;
  overflow: scroll;
}
.container .poke-links {
  margin: 10px;
  border: 1px solid #222;
  text-align: center;
  border-radius: 0.25rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.container .poke-link {
  display: flex;
  align-items: center;
  color: #222;
  font-size: 1.5rem;
  text-transform: capitalize;
  gap: 0.1rem;
  background: #d6d6d6;
}
.container .poke-link .icon {
  color: #cf1717;
  border-right: solid 1px #222;
}

.footer {
  width: 100%;
  height: 40px;
  border-top: 1px solid #cf1717;
  border-radius: 0.25rem;
  background: #cf1717;
}/*# sourceMappingURL=main.css.map */