//hsl middle # is vibriness, last # is balc white shades

//DarkShades of Primary colors
$primary-0: hsl(210, 30%, 21%);
$primary-1: hsl(210, 30%, 29%);
$primary-2: hsl(210, 30%, 37%);
$primary-3: hsl(210, 30%, 45%);
$primary-4: hsl(210, 30%, 52%); //Primary color
$primary-5: hsl(210, 30%, 60%);
$primary-6: hsl(210, 30%, 67%);
$primary-7: hsl(210, 30%, 74%);
$primary-8: hsl(210, 30%, 81%);
$primary-9: hsl(210, 30%, 88%);
// lighter shades of secondary color
$secondary-0: hsl(210, 80%, 21%);
$secondary-1: hsl(210, 80%, 29%);
$secondary-2: hsl(210, 80%, 37%);
$secondary-3: hsl(210, 80%, 45%);
$secondary-4: hsl(210, 80%, 52%); //Primary color
$secondary-5: hsl(210, 80%, 60%);
$secondary-6: hsl(210, 80%, 67%);
$secondary-7: hsl(210, 80%, 74%);
$secondary-8: hsl(210, 80%, 81%);
$secondary-9: hsl(210, 80%, 88%);

// dark shades of grey color
$grey-0: hsl(210, 30%, 21%);
$grey-1: hsl(210, 30%, 29%);
$grey-2: hsl(210, 30%, 37%);
$grey-3: hsl(210, 30%, 45%);
$grey-4: hsl(210, 30%, 52%); //Primary color
$grey-5: hsl(210, 30%, 60%);
$grey-6: hsl(210, 30%, 67%);
$grey-7: hsl(210, 30%, 74%);
$grey-8: hsl(210, 30%, 81%);
$grey-9: hsl(0, 0%, 84%);

//Misc
$white: #ddd;
$black: #222;
$red-dark: hsl(0, 80%, 45%);
$red-light: hsl(0, 67%, 67%);
$green-dark: hsl(125, 77%, 35%);
$green-light: hsl(125, 67%, 67%);

//Pokemon type Backgrounds
$fire: hsl(25, 86%, 56%);
$water: hsl(222, 82%, 67%);
$grass: hsl(100, 52%, 55%);
$electric: hsl(48, 93%, 58%);
$psychic: hsl(342, 92%, 66%);
$ice: hsl(180, 45%, 72%);
$dragon: hsl(258, 93%, 60%);
$dark: hsl(24, 22%, 36%);
$fairy: hsl(347, 71%, 77%);
$normal: hsl(60, 22%, 56%);
$fighting: hsl(3, 66%, 45%);
$flying: hsl(255, 76%, 75%);
$poison: hsl(300, 43%, 44%);
$ground: hsl(44, 66%, 64%);
$rock: hsl(49, 53%, 47%);
$bug: hsl(66, 70%, 42%);
$ghost: hsl(263, 27%, 47%);
$steel: hsl(240, 20%, 77%);

